.App-header {
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/241/807/large_2x/lush-green-forest-with-waterfall-free-photo.jpeg");
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 17px;
}
.small-text {
  white-space: nowrap;
}
.space {
  visibility: hidden;
}

.fullmoon {
  height: auto;
  max-width: 120px;
  margin-top: 2%;
}

.box2 h3,
p {
  margin-top: 0%;
  margin-bottom: 0%;
}

.box2 {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  border-radius: 25px;
  color: black;
  position: relative;
  right: 10%;
  margin: 20px;
  grid-column: 85;
  grid-row: 8;
  text-align: center;
  margin-right: 0%;
  height: 35vh;
  width: 70%;
  float: right; /* muta la dreapta pt divuri */
}

.dropbtn {
  color: white;
  width: 50px;
  padding: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  left: 1em;
  top: 1em;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.box {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  border-radius: 20px;
  color: black;
  margin: 3px;
  width: 31%;
  display: inline-block;
}

.column {
  float: left;
  padding: 12px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left,
.right {
  width: 27%;
  padding-top: 5%;
}

.middle {
  width: 42%;
  padding-top: 3%;
}

.middle h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0%;
}
.right {
  padding-top: 4%;
  width: 25%;
  padding-right: 0%;
}
.row {
  padding-top: 2%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.innermiddle {
  width: 25%;
  display: inline-block;
  float: left;
}

#feels-like {
  padding-top: 14%;
  width: 15%;
  margin-left: 5%;
  font-size: 1.5rem;
  text-align: center;
}
#degree {
  padding-top: 18%;
  text-align: right;
}

#degrees {
  padding-top: 17%;
  width: 5%;
  margin-left: 7%;
}

.clouds-sun {
  height: auto;
  width: 100%;
  margin-top: 1%;
}

#clouds-sun {
  width: 40%;
  margin-left: 3%;
}

.row h2 {
  font-size: 2.5rem;
  text-align: center;
  color: white;
  font-weight: 300;
}

.column-days {
  /*incapsulare*/
  width: 16%;
  float: left;
  margin: 1%;
}

.row-days {
  padding-left: 18%;
  padding-right: 18%;
  text-align: center;
}

.box-days {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  border-radius: 20px;
  color: black;
  width: 89%;
  height: 20vh;
  display: inline-block;
  box-shadow: 0px 0px 4px 4px rgba(186, 181, 181, 0.6);
}
